<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  
   <!-- 启动spring容器,并且需要配置Spring的配置文件，这样Spring容器才能够正确的启动	-->
  <context-param>
      <param-name>contextConfigLocation</param-name>
  	  <param-value>classpath:/applicationContext.xml</param-value><!-- <param-value>/WEB-INF/spring*.xml</param-value> -->
  </context-param>  
  
  <!--字符编码过滤器配置-->
  <filter>
      <filter-name>characterEncodingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
      <init-param>
          <param-name>encoding</param-name>
          <param-value>utf-8</param-value>
      </init-param>
      <init-param>
          <param-name>forceEncoding</param-name>
          <param-value>true</param-value>
      </init-param>
  </filter>
  
  <!--配置filter的映射-->
   <filter-mapping>
    	<filter-name>characterEncodingFilter</filter-name>
    	<url-pattern>*.html</url-pattern>
   </filter-mapping>
  
  <filter-mapping>
      <filter-name>characterEncodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  
    <!-- 监听spring 必须配置在filter后面 要不报错 -->
  <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  
  <!-- 监听springMVC 配置 -->
  <servlet>
      <servlet-name>money</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!--  <servlet-mapping>  
    <servlet-name>default</servlet-name>  
    <url-pattern>*.html</url-pattern>  
	</servlet-mapping>  -->
 
  <servlet-mapping>
      <servlet-name>money</servlet-name>
      <url-pattern>*.do</url-pattern>
  </servlet-mapping>

   
</web-app>
